.ShapeGame 
{
    --shape-size : 75px;
}

.ShapeGame
{
    height: 100%;
    width: 100%;
    border: 2px #c8c8c8 solid;
    display: flex;
    flex-direction: column;
}

.MainField
{
    flex: 1;
}

.SelectorField
{
    flex: 0.15;
    border-top: 2px #c8c8c8 solid;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.Shape 
{
    height: var(--shape-size);
    width: var(--shape-size);

    display: flex;
    align-items: center;
}

.DropShape 
{
    height: var(--shape-size);
    width: var(--shape-size);
    transform: scale(1.12, 1.12);

    display: flex;
    align-items: center;
}
